/* .favoriteproducts_block_admin {
    background: #fff;
    padding: 15px;
    margin-bottom: 30px;
} */

/* 
.panel-heading .badge {
    display: none;
} */

.panel-heading-action {
    display: none !important;
}