.product-flags li {
    position: absolute;
    padding: 15px;
}

.product-flags li .star {
    top: 0 !important;
    left: 180px !important;
    z-index: 2;
    top: -36px !important;
    left: 215px !important;
    cursor: pointer;
}

.product-flags li input:only-child {
    display: block !important;
    width: 30px;
    height: 30px;
}

.product-flags li.product-flags li.product-flag {
    background: #fff;
}


article {
    position: relative;
}

article .item_product {
    position: absolute;
    top: -255px;
    transform: scale(2);
    left: 15px;
}

.modal .star {
    background: url(../../img/star.png) center no-repeat;
}

.custom-control {
    padding-left: 0;
}

.checkall {
    margin-bottom: 30px;
}